<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title></title>
    <!-- Project SEO -->
    <meta name="description" content="">
    <meta name="keywords" content="" /> 
    <meta name="author" content="Ayu Consulting S.A.C" />

    <!-- Responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:url" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:image" content="">

    <!-- FAVICON -->
    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- Apple Mobile -->
    <meta name="apple-mobile-web-app-title" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Apple icons -->
    <link rel="apple-touch-icon" sizes="156x156" href="">
    <link rel="apple-touch-icon" sizes="128x128" href="">
    <link rel="apple-touch-icon" sizes="76x76" href="">
    <link rel="apple-touch-icon" href="">

    <!-- WebFonts -->
    <script async type="text/javascript" src="//use.typekit.net/ynk6roa.js"></script>
    <script async type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!-- APP STYLES -->
    <link rel="stylesheet" href="../stylesheets/main.css">
    <!-- <link rel="stylesheet" href="stylesheets/main.min.css"> -->
  </head>
  <body>
    <header>
      <div class="container text-center">
        <div class="row">
          <div class="col-md-8 center-block">
            <div class="header-text">
              <p>Tu inmueble esta avaluado</p>
              <p>s/. 120,000</p>
              <p>Aplicas para</p>
              <p>hogar positivo</p>
            </div>
          </div>
        </div>  
      </div>
    </header>
    <section class='content'>
      <div class='container text-center'>
        <div class="row">
          <div class="col-md-8 center-block">
            <h2 class="text-large">que te cubre</h2>
            <p class='text-small'>Todo riesgo de incendio y explosión, terremoto y riesgos de la naturaleza, terrorismo y riesgos políticos.</p>
            <p class='text-medium'>Es opcional para robo o intento de robo</p>
            <p class='text-small'>Hasta S/. 15,000</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 center-block">
            <div class="row">
              <div class="col-md-5">
                <div class="price-block">
                  <div class="row">
                    <div class="col-md-10">
                      <p class='text-small'>sin robo</p>
                    </div>
                    <div class="col-md-2">
                      <img src="" alt="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p class='text-large'>s/. 35</p>
                      <p class='text-small'>prima mensual</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-5 col-md-offset-2">
                <div class="price-block">
                  <div class="row">
                    <div class="col-md-10">
                      <p class='text-small'>sin robo</p>
                    </div>
                    <div class="col-md-2">
                      <img src="" alt="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p class='text-large'>s/. 35</p>
                      <p class='text-small'>prima mensual</p>
                    </div>
                  </div>
                </div>
              </div>  
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 center-block">
            <div class="row">
              <div class="form-group">
                <div class="col-md-6"> 
                  <label class="radio-inline" for="radios-0">
                    <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                    descarga tu cotizacion
                  </label> 
                </div>
                <div class="col-md-6"> 
                  <label class="radio-inline" for="radios-1">
                    <input type="radio" name="radios" id="radios-1" value="2">
                    contactanos por telefono
                  </label>
                </div>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-10 center-block">
            <div class="row">
              <div class="col-md-5">
                <form class="form-horizontal">
                  <legend>completa tus datos</legend>
                  <div class="row">
                    <!-- Text input-->
                    <div class="form-group">
                      <div class="col-md-6">
                        <input id="textinput" name="textinput" type="text" placeholder="Nombre" class="form-control input-md"> 
                      </div>
                      <div class="col-md-6">
                        <input id="textinput" name="textinput" type="text" placeholder="Apellido" class="form-control input-md">
                      </div>
                    </div>
                  </div>  

                  <!-- Text input-->
                  <div class="form-group">
                    <input id="textinput" name="textinput" type="text" placeholder="Correo electrínico" class="form-control input-md">
                  </div>

                  <!-- Text input-->
                  <div class="form-group">
                    <input id="textinput" name="textinput" type="text" placeholder="DNI" class="form-control input-md">
                  </div>

                  <!-- Text input-->
                  <div class="form-group">
                    <input id="textinput" name="textinput" type="text" placeholder="Telefono" class="form-control input-md">
                  </div>

                  <!-- Button -->
                  <div class="row">
                    <div class="form-group">
                      <div class="col-md-6 col-md-offset-6">
                        <input type="submit" value="ENVIAR  " id="singlebutton" name="singlebutton" class="btn btn-primary col-md-12">
                      </div>
                    </div>  
                  </div>
                </form>
              </div>
              <div class="col-md-5 col-md-offset-1">
                <form class="form-horizontal">
                  <legend>completa tus datos</legend>
                  <div class="row">
                    <!-- Text input-->
                    <div class="form-group">
                      <div class="col-md-6">
                        <input id="textinput" name="textinput" type="text" placeholder="Nombre" class="form-control input-md"> 
                      </div>
                      <div class="col-md-6">
                        <input id="textinput" name="textinput" type="text" placeholder="Apellido" class="form-control input-md">
                      </div>
                    </div>
                  </div>

                  <!-- Button -->
                  <div class="row">
                    <div class="form-group">
                      <div class="col-md-6 col-md-offset-6">
                        <input type="submit" value="BUSCAR  " id="singlebutton" name="singlebutton" class="btn btn-primary col-md-12">
                      </div>
                    </div>  
                  </div>
                </form>
              </div>   
            </div>
          </div>
        </div>      
      </div>
    </footer>
  </body>
</html>