.gray-color {
	color: #4A4C4D;
}
.gray-background {
	background: #4A4C4D;
}
.text-small {
	font-size: 2rem;
}
.text-medium {
	font-size: 2.7rem;
}
.text-large {
	font-size: 3rem;
}
.text-xlarge {
	font-size: 4rem;
}
header {
	background: $brand-primary;
	color: #fff;
}
.content {
	color: $brand-primary;
}
footer {
	background: $brand-primary;
	color: $brand-primary;
}
.price-block {
	.row {
		border: 1px solid $brand-primary;
		margin-top: 7px;
		.col-md-2{
			background: $orange-light;
		}
		.col-md-10{
			color: #fff;
			background: $brand-primary;
		}
		.col-md-12{
			background: $orange-light;
		}
	}
}

.result{
	border: 1px solid #ff6a00;
	background-color: #FFE1CC;
	padding: 1rem;
	margin-bottom: 1rem;
	.local{
		color: #333;
		.title{
			font-weight: bold;
		}
	}
}

