body.confirmacion { 
	background: url(../assets/images/background-confirm.png) no-repeat;
	background-size: 100% 100%;
	color: #fff;
}

.confirmacion{

	h1{
		color: #f04935;
		font-size: 4rem;
	}
	p{
		color: #8e8e8e;
		font-size: 1.5rem;
	}
	.correo{
		color: #ff6b00;
		font-size: 3rem;
	}

	.social-networks{
		padding-left: 3rem;
		padding-right: 2rem;
		bottom: 0;
		a{
			color: #ff7816;
		}
		a:hover{
			color: #fca05e;
		}	
		img{
			position: relative;
			top: -3rem;
		}
	}

}